
body {
  font-family: "Nexa";
}


@font-face {
  font-family: "Nexa" ;
  src: url("assets/nexaregular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nexa" ;
  src: url("assets/nexa-light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nexa" ;
  src: url("assets/nexa-bold.otf");
  font-weight: 700;
  font-style: normal;
}

.sidebar {
  background-color: #d3d3d3;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  user-select: none;
  font-weight: 400;
  font-size: 20px;
}

.back-button {
  margin-top: auto;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: small;
  background-color: #009acd;
   border: none;
  border-radius: 8px;
  cursor: pointer;
   width: 50%;
  padding: 8px;
  text-align: center;
}

.mb-10 {
  width: 180px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: black;
  width: 100%;
  
}


.botao-sair:hover {
  background-color: #06b6d4;
}

.secao-titulo {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: black;
}

.secao-dado {
  background-color: #0a1426;
  color: white;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  max-width: 40rem;
}

h1.text-base mb-6 {
  color: #111827;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: larger;
}